* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e1e1e1;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23033d15' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
#contenedor_carga {
  background: #525457;
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 100000;
  transition-delay: 2s;
  display: none;
}

#contenedor_carga > p {
  position: absolute;
  text-align: center;
  top: 430px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  color: white;
  font-family: "Pattaya", sans-serif;
  font-size: 20px;
}

#carga {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: girar 1s linear infinite;
  -o-animation: girar 1s linear infinite;
  animation: girar 1s linear infinite;
}
@keyframes girar {
  form {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NAVEGACION*/

.menu header nav {
  background-image: linear-gradient(55deg, #fff 38.7%, #1b1d35 39.2%);
  padding: 0px 10px;
  /* border-bottom: solid 1px rgba(160, 160, 160, 0.781); */
}
.menu {
  box-shadow: 0px 10px 10px rgba(173, 160, 160, 0.76);
}
.menu header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu header nav .logo {
  display: flex;
}

img.escudo {
  width: 60px;
  height: 60px;
  margin-right: 5px;
  animation: animacion_r 1.5s forwards;
  animation-delay: 2.5s;
}

@keyframes animacion_r {
  form {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo:hover {
  cursor: context-menu;
}

span {
  letter-spacing: 3px;
  font-weight: 900;
  line-height: 1.2;
}

.menu header nav .links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
}

.menu header nav .links a {
  margin: 15px 10px 15px 10px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: 0.8s;
  border-bottom: 3px solid rgba(41, 41, 41, 0.87);
}
.menu header nav .links .animation:hover {
  transform: scale(1.1);
}

.menu header nav .links .animation {
  font-size: 18px;
}
.menu header nav .links .animation:focus {
  box-shadow: 5px 5px 8px #033d15;
}
.nav-link:hover {
  transform: scale(1.1);
}

.nav-link:focus {
  box-shadow: 5px 5px 8px #033d15;
}

.menu header nav .links form {
  margin: 5px 10px 0px 20px;
  height: 45px;
}

.menu header nav .links ul li > .sub-titulo-bach {
  color: black;
  width: 10px;
}
.menu header nav .links ul li > .sub-titulo-bach:hover {
  color: #b8711b;
  background-color: rgb(31, 31, 31);
  width: 120px;
  border-radius: 0px 10px;
}

.menu header nav .links ul li > .sub-titulo-docente {
  color: black;
  width: 10px;
  transition: 0.8s;
}
.menu header nav .links ul li > .sub-titulo-docente:hover {
  color: #b8711b;
  background-color: rgb(31, 31, 31);
  width: 150px;
  border-radius: 0px 10px;
}
.menu header nav .nav-link {
  margin: 0px;
}
.menu header nav .links .btn-success {
  border-bottom: none;
}

/* PANEL DE CONTROL */
.titulo-panel {
  background-color: #b8711bb7;
  width: 45%;
  text-align: center;
  margin: auto;
}
.contenedor-master {
  /*     display: flex; */
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.contenedor-master > figure {
  position: relative;
  background-color: #1b1d35;
  width: 90%;
  height: 100px;
  margin: 20px auto;
  text-align: center;
  overflow: hidden;
  border-radius: 6px;
  transition: all 500ms ease-out;
}

.contenedor-master > figure > .titulo {
  margin-top: 2%;
  color: white;
}

.capa {
  position: absolute;
  top: 90px;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  background: #864a00;
  text-align: center;
  transition: 1s;
  /*    transition-delay: 0.5s; */
}
.capa > .boton-editar {
  padding: 15px;
  text-decoration: none;
  font-size: 40px;
  color: #b8711b;
  transition: 0.5s;
}

.capa > .boton-editar:hover {
  border: #ac6713bd 5px solid;
  font-size: 41px;
}

.contenedor-master figure:hover {
  background-color: white;
  box-shadow: 0px 20px 20px rgba(173, 160, 160, 0.76);
}

.contenedor-master figure:hover > .capa {
  top: 0;
  background: #b8711b93;
}

.contenedor-master figure:hover > .capa_nuevo {
  top: 0;
}

/* ARTICULOS DESPLEGABLES */
 .cont_art {
  position: relative;
  display: flex;
  background-color: #1b1d35;
  width: 90%;
  height: 100px;
  margin: 15px auto;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  transition: 1s;
  transition-timing-function: ease-out;
}

.contenedor-master .espacio{
  margin-bottom: 850px;
}



.cont_art > h1{
  color: white;
}

.cont_art > h1 .icono{
  position: absolute;
  right: 20px;
  cursor: cell;
}
.cont_art .franja{
  position: absolute;
  background-color:#864a00 ;
  height: 10px;
  border-radius: 0px 0px 5px 5px;
  width: 100%;
  bottom: 0;
}
/* ITEMS DESPLEGABLES DE EL ARTICULO */


.cont_art .cont_item{
  position: absolute;
  border-radius: 0px 0px 5px 5px;
  top: 100%;
  width: 100%;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  box-shadow: 0px 20px 20px rgba(173, 160, 160, 0.76);
  background-color: white;
  transition: 1s;
}
.cont_art .cont_item .btn_new_art{
font-size: 30px;
display: table;
color: white;
background:  #1b1d35;
margin: 20px;
padding: 10px;
border-radius: 5px;
cursor: cell;
}

.cont_art .cont_item .btn_new_art:hover{
  text-decoration: none;
  list-style: none;
  background: #1b1d35f5;
  }
  .cont_art .cont_item .btn_new_art:focus{
  font-size: 29px;
  }

.cont_art .cont_item > li{
  position: relative;
  background-color: rgba(226, 226, 226, 0.849);
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 10px;
  transition: 1s;
  border-radius: 10px;
}

.cont_art .cont_item > li .capa_item{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 200px;
  background-color: #1b1d35;
  transition: all 1s ;
}

.cont_art .cont_item > li .titulo_art{
position: absolute;
top: 10px;
left: 10px;
color: #1b1d35;
border: #1b1d35 1px solid;
border-radius: 5px;
background-color: rgba(255, 255, 255, 0.473) ;
}

.cont_art .cont_item > li .capa_item > a{
  padding: 15px;
  text-decoration: none;
  font-size: 40px;
  color: #1b1d35;
  transition: 0.5s;
}
.cont_art .cont_item > li .capa_item > a:hover{
  border: #1b1d35 5px solid;
  font-size: 41px;
}

.cont_art .cont_item > li:hover .capa_item{
  top: 0;
  background-color:#ffffff98 ;
}

.cont_art .cont_item > li > img{
width: 100%;
height: 100%;
object-fit: cover;
transition: .6s;

}

.cont_art .activado{
  max-height: 1000px;
  overflow: visible;
}
/* PAGINACION */

.paginacion {
	margin: 30px;
}

.paginacion ul {
	list-style: none;
	text-align: center;
}

.paginacion ul li {
	display: inline-block;
	margin:0 5px;
	color:#fff;
}

.paginacion ul li a {
	display: block;
	padding:10px 20px;
	background: #1b1d35;
	color:#fff;
}

.paginacion ul li a:hover {
	background: #864a00;
	text-decoration: none;
}

.paginacion ul .active {
	background: #864a00;
	padding:10px 20px;
}

.paginacion ul .disabled{
	background: #a8a8a8;
	padding:10px 20px;
	cursor: not-allowed;
}

.paginacion ul .disabled:hover {
	background: #a8a8a8;
}


/* FOOTER */
footer {
  width: 100%;
  height: 218px;
  background: rgb(34, 33, 33);
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tecnologias {
  text-align: center;
}
li {
  text-decoration: none;
  list-style: none;
}
.footer > li > b {
  margin: 29px;
}
